body {
  min-width: 357px;
  overflow: hidden;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

label, select {
  display: block;
}

label {
  font-size: 80%;
  font-weight: bold;
}

select {
  margin: 5px 0px 20px;
}

legend {
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}